@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
.broken-record-image {
  background-image: url("/assets/broken-record.png");
  background-size: contain;
  background-repeat: no-repeat;
}
